@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

body,
html {
  overflow-x: hidden;
}

.ff-neue {
  font-family: 'Helvetica Neue', sans-serif;
}

.ff-roboto {
  font-family: 'Roboto Condensed', sans-serif;
}

.fs_sm {
  font-size: var(--fs-sm);
}

.fs_2sm {
  font-size: var(--fs-2sm);
}

.fs_3sm {
  font-size: var(--fs-3sm);
}

.fs_4sm {
  font-size: var(--fs-4sm);
}

.fs_md {
  font-size: var(--fs-md);
}

.fs_2md {
  font-size: var(--fs-2md);
}

.fs_3md {
  font-size: var(--fs-3md) !important;
}

.fs_4md {
  font-size: var(--fs-4md) !important;
}

.fs_lg {
  font-size: var(--fs-lg);
}

.fs_2lg {
  font-size: var(--fs-2lg);
}

.fs_xl {
  font-size: var(--fs-xl);
}

.fs_2xl {
  font-size: var(--fs-2xl);
}

.fs_3xl {
  font-size: var(--fs-3xl);
}

.op_12 {
  opacity: 0.12;
}

.lh-101 {
  line-height: 101.687%;
}

.lh-150 {
  line-height: 150%;
}

.lh-111 {
  line-height: 111.187%;
}

.lh-160 {
  line-height: 160%;
}

.text_black12 {
  color: #12191F;
}

.text_greenc8 {
  color: #C8D700;
}

.text_blue5 {
  color: #5B95E0;
}

.text_purple9 {
  color: #9955AE;
}

.text_orange72 {
  color: #EC8772;
}

.text_blue74 {
  color: #74BBBF;
}

.text_yell {
  color: #FFC100;
}

.text_Sky {
  color: #45C6CE;
}

.text_Blue {
  color: #5B95E0;
}

.text_black17 {
  color: #171328;
}

.text_Red1 {
  color: #F2205C;
}

.text_blue43 {
  color: #4361FF;
}

.mw-111 {
  max-width: 111.237px;
}

.mw-409 {
  max-width: 409px;
}

.op_07 {
  opacity: 0.7;
}

.op_08 {
  opacity: 0.8;
}

.mw-555 {
  max-width: 555px;
}

.work-text {
  bottom: -19px;
  right: -3px;
}

.work-text1 {
  bottom: -6px;
  right: unset;
  left: 10%;
}

.work-text2 {
  bottom: -3px;
  right: unset;
  left: 29px;
}

/*------------------Header-----------------*/

.bg-header {
  background-image: url("./assets/images/bg-header.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  object-fit: cover;
}

.mw-175 {
  max-width: 175.153px;
}

.btn-sign {
  border-radius: 100px;
  background: #5B95E0;
  padding: 14px 30px;
  border: 1px solid #5B95E0;
}

.btn-sign:hover,
.btn-sign:focus {
  animation: pulse2 1s ease-in-out infinite;
  box-shadow: 0 0 0 0.8em transparent;
}

@keyframes pulse2 {
  0% {
    box-shadow: 0 0 0 0 #5b95e092;
  }
}

.cur_pointer {
  cursor: pointer;
}

.nav_bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 29px;
  list-style-type: none !important;
  margin-bottom: 0 !important;
  padding-left: 0 !important;
}

.linehov::after {
  content: '';
  position: absolute;
  left: 50%;
  background-color: white;
  width: 0;
  height: 3px;
  border-radius: 3px;
  bottom: -5px;
  transition: all .3s linear;
}

.linehov:hover::after {
  left: 0;
  width: 100%;
}

.navline {
  display: none;
}

.mw-558 {
  max-width: 558px;
}

.btn-free {
  border-radius: 100px;
  background: #5B95E0;
  box-shadow: 0px 4px 25px 0px rgba(255, 193, 0, 0.49);
  padding: 14px 30px;
  border: none;
}

.btn-free:hover,
.btn-free:focus {
  animation: pulse2 1s ease-in-out infinite;
  box-shadow: 0 0 0 0.8em transparent;
}

.btn-explore:hover,
.btn-explore:focus {
  animation: pulse3 1s ease-in-out infinite;
  box-shadow: 0 0 0 0.8em transparent;
}

@keyframes pulse3 {
  0% {
    box-shadow: 0 0 0 0 #ffffff8d;
  }
}

.btn-explore {
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.90);
  box-shadow: 0px 4px 25px 0px rgba(255, 193, 0, 0.49);
  padding: 14px 30px;
  background: transparent;
}

.mw-411 {
  max-width: 411px !important;
}

.blurcard {
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.30);
  background: rgba(255, 255, 255, 0.30);
  backdrop-filter: blur(11.5px);
  padding: 10.769px 27.568px 11.069px 13.432px;
}

.mw-44 {
  max-width: 44px !important;
}

.esthercard {
  animation: pulse 3000ms ease-in-out infinite;
  top: 28%;
  right: 0;
  transition: all 1s ease;
}

@keyframes pulse {
  0% {
    transform: translateY(0px);
  }

  70% {
    transform: translateY(-7px);
  }

  100% {
    transform: translateY(0px);
  }
}

.greencard {
  bottom: 26%;
  left: 0;
  animation: pulse 3000ms ease-in-out infinite;
  transition: all 1s ease;
}

/*---------------Main-Features----------------*/
.whitecard-gap {
  gap: 32px;
}

.white_card {
  border-radius: 14px;
  background: #FFF;
  box-shadow: 0px 6px 39px 0px rgba(91, 149, 224, 0.13);
  padding: 19px 23px 17px 16px;
  cursor: pointer;
  overflow: hidden;
  transition: all .3s linear;
}

.white_card:hover {
  transform: scale(1.05) !important;
  box-shadow: 0px 4px 25px 0px rgba(91, 149, 224, 0.13);
}

.white_card1 {
  border-radius: 14px;
  background: #FFF;
  box-shadow: 0px 6px 39px 0px rgba(91, 149, 224, 0.13);
  padding: 19px 38px 45px 16px;
  cursor: pointer;
  overflow: hidden;
}

.white_card1:hover {
  transform: scale(1.05) !important;
  box-shadow: 0px 4px 25px 0px rgba(91, 149, 224, 0.13);
}

/* ----------feature-------- */
.btn_freey {
  border-radius: 100px;
  background: #FFC100;
  padding: 14px 30px;
  box-shadow: 0px 4px 25px 0px rgba(255, 193, 0, 0.16);
  border: 1px solid #FFC100;
}

.btn_freey:hover,
.btn_freey:focus {
  animation: pulse1 1s ease-in-out infinite;
  box-shadow: 0 0 0 1em transparent;
}

.chartpad {
  padding-top: 60px;
  padding-bottom: 45px;
}

.yel-card {
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.30);
  background: rgba(255, 255, 255, 0.30);
  backdrop-filter: blur(11.5px);
  padding: 10px;
  animation: pulse 3000ms ease-in-out infinite;
}

.yell-card {
  border-radius: 10px;
  background: #FEC364;
  width: 130px !important;
  height: 100px !important;
  padding: 13px 14px;
}

.yelcard-position {
  bottom: -2%;
  right: -4%;
}

.bg_whcard {
  border-radius: 14px;
  background: #FFF;
  box-shadow: 0px 6px 39px 0px rgba(0, 0, 0, 0.07);
  padding: 20px;
  height: 296px;
  cursor: pointer;
  overflow: hidden;
  transition: all .3s linear !important;
}

.bg_whcard:hover {
  transform: scale(1.05) !important;
}

.px-12 {
  padding-left: 12px;
  padding-right: 12px;
}

.btn-view {
  padding: 14px 30px;
  border-radius: 100px;
  background: #FFC100;
  border: 1px solid #FFC100;
  margin-bottom: 60px;
  transition: all .3s linear;
}

.btn-view:hover,
.btn-view:focus {
  animation: pulse1 1s ease-in-out infinite;
  box-shadow: 0 0 0 1em transparent;
}

@keyframes pulse1 {
  0% {
    box-shadow: 0 0 0 0 #ffbf007f;
  }
}

/* -------------priceplan------------- */

.pricewhite-card {
  border-radius: 8px;
  background: var(--ffffff, #FFF);
  border: 1px solid #fff;
  box-shadow: 0px 10px 32px 0px rgba(91, 149, 224, 0.13);
  height: 690px;
  max-width: 300px;
  padding-top: 33px;
  padding-left: 18px;
  padding-right: 9px;
  width: 100%;
  transition: all .3s linear;
  overflow: hidden;
}

.yell-box::after {
  content: 'SMS Included';
  position: absolute;
  background: #FFC100;
  transform: rotate(40.226deg);
  padding: 6.891px 55.533px 4.861px 43.028px;
  top: 4%;
  right: -18%;
  color: var(--ffffff, #FFF);
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 10.448px;
  font-weight: 500;
  transition: all .3s linear;
}

.yell-box:hover::after {
  background: #5B95E0;
}

.pricewhite-card:hover {
  border: 1px solid #5B95E0;
  color: white !important;
}

.pricewhite-card:hover div .col-hov {
  color: #5B95E0 !important;
}

.pricewhite-cardblue {
  border: 1px solid #5B95E0;
}

.pricewhite-card:hover div .btn-get {
  color: white !important;
  border: 1px solid #5B95E0;
  background: #5B95E0;
}

.lh-130 {
  line-height: 130%;
}

.ls-65 {
  letter-spacing: 0.065px;
}

.btn-get {
  border-radius: 100px;
  border: 1px solid rgba(18, 25, 31, 0.50);
  max-width: 209px;
  padding: 10px 30px;
  background: transparent;
  transition: all .3s linear;
}

.btn_padd {
  padding-bottom: 30px;
}

.card-padd {
  padding-bottom: 62px;
}

.price-padd {
  padding-top: 70px;
  padding-bottom: 75px;
}

/* --------------about----------------- */
.bg-about {
  background: #FFC100;
}

.about-padd {
  padding-top: 30px;
  padding-bottom: 70px;
}

.download_padd {
  padding-top: 70px;
  padding-bottom: 30px;
}


.about-whcard {
  border-radius: 14px;
  background: #FFF;
  box-shadow: 0px 6px 39px 0px rgba(0, 0, 0, 0.07);
  padding: 20px;
  height: 280px;
  cursor: pointer;
  overflow: hidden;
  transition: all .3s linear !important;
}

.about-whcard:hover {
  transform: scale(1.05) !important;
}

.btn_view {
  border-radius: 100px;
  background: #5B95E0;
  padding: 14px 40px;
  border: 1px solid #5B95E0;
}

.btn_view:hover,
.btn_view:focus {
  animation: pulse2 1s ease-in-out infinite;
  box-shadow: 0 0 0 0.8em transparent;
}

.veiw-btn-padd {
  padding-top: 45px;
}

/* -------faq---------- */
.faq-padd {
  padding-top: 70px;
  padding-bottom: 110px;
}

.help_box {
  /* max-width: 362px; */
  padding: 30px 30.5px;
  border-radius: 10px;
  border: 1px solid rgba(255, 193, 0, 0.50);
  background: rgba(255, 193, 0, 0.10);
  cursor: pointer;
}

.help_btn {
  padding: 14px 57px;
  border-radius: 100px;
  background: #5B95E0;
  box-shadow: 0px 6px 6px 0px rgba(91, 149, 224, 0.16);
  cursor: pointer;
}

.accordion-item {
  color: #ffffff;
  background-color: #ffffff !important;
  border-radius: 0 !important;
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white' %3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 14px 0 !important;
  text-align: left;
  font-size: 20px !important;
  background-color: #FFffff;
  overflow-anchor: none;
  transition: var(--bs-accordion-transition);
  border-radius: 0 !important;
}

.accordion-button {
  background: #ffffff !important;
}

.accordion-button::after {
  background-image: url("./assets/images/Vector.svg") !important;
}

.accordion-button:not(.collapsed) {
  background-color: #ffffff;
  color: white;
  border-bottom: none !important;
  margin-bottom: 0 !important;
  box-shadow: none !important;
}

.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-item {
  color: var(--bs-accordion-color);
  border-bottom: 1px solid #d0d1d2 !important;
  margin-bottom: 10px;
}

.accordion {
  --bs-accordion-border-color: transparent !important;
}

.mw_596 {
  max-width: 596px;
}

.accordion-body {
  padding: 0 !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.tr-linear {
  transition: all .3s linear;
}

/* -------------test-sec---------- */

.test-rowpadd {
  padding-top: 30px;
}

.test-padd {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* ---------------footer----------------- */
.bg_blue {
  background: #5B95E0;
  /* min-height: 100vh; */
}

.mw-297 {
  max-width: 297px !important;
}

.mw-397 {
  max-width: 397px;
}

/* ------------------------------timeline--------------------- */
.work-padd {
  padding-top: 60px;
  padding-bottom: 60px;
}

.timeline::after {
  content: '';
  position: absolute;
  border-radius: 59px;
  background: linear-gradient(90deg, #FFC100 0%, #45C6CE 34.04%, #5B95E0 67.55%, #F2205C 100%);
  height: 12px;
  top: 0;
  left: 0;
  right: 0;
}

.container1 {
  width: 25%;
  padding-top: 83px;
}

.timeline-bell1 {
  left: 3px;
  top: -74px;
}

.timeline-bell2 {
  top: -63%;
  left: 3px;
}

.timeline-bell3 {
  top: -50%;
  left: 3px;
}

.footer-padd {
  padding-top: 10px;
  padding-bottom: 100px;
}

.wave {
  bottom: -4px;
}

.Greenellipse {
  bottom: 4%;
}

.pur-flower {
  opacity: 0;
  bottom: 0;
  right: 0;
  transition: all .3s linear;
}

.about-whcard:hover .pur-flower {
  opacity: 1;
}

.grn-flower {
  opacity: 0;
  bottom: 0;
  right: 0;
  transition: all .3s linear;
}

.bg_whcard:hover .grn-flower {
  opacity: 1;
}

.red-flower {
  opacity: 0;
  bottom: 0;
  right: 0;
  transition: all .3s linear;
}

.white_card:hover .red-flower {
  opacity: 1;
}

.white_card1:hover .red-flower {
  opacity: 1;
}

.glass_hover {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.glass_hover::before {
  content: "";
  background: rgba(255, 255, 255, 0.271);
  width: 50%;
  height: 100%;
  left: -125%;
  top: 0%;
  transform: skew(45deg);
  filter: blur(30px);
  position: absolute;
  transition: left 0.7s ease-in-out !important;
}

.glass_hover:hover::before {
  left: 150%;
}

.glass-hover1 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.glass-hover1::before {
  content: "";
  background: rgb(164, 178, 210)70;
  width: 50%;
  height: 100%;
  left: -125%;
  top: 0%;
  transform: skew(45deg);
  filter: blur(30px);
  position: absolute;
  transition: left 0.7s ease-in-out !important;
}

.glass-hover1:hover::before {
  left: 150%;
}

.icon_hov {
  transition: all .3s linear;
}

.icon_hov:hover {
  transform: translatey(-5px);
}

.bg-blue {
  background-color: #5B95E0;
}

@media (min-width:576px) {
  .bg_whcard {
    height: 296px;
  }

  .faq-padd {
    padding-top: 50px;
    padding-bottom: 160px;
  }

  .help_box {
    padding: 67px 63.5px;
  }
}

@media (min-width:768px) {
  .yell-card {
    width: 172px !important;
    height: 132px !important;
  }

  .faq-padd {
    padding-top: 50px;
    padding-bottom: 200px;
  }
}

@media (max-width:992px) {
  .nav_bar {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    min-height: 100vh;
    transition: all .3s linear;
    flex-direction: column;
    gap: 24px;
    background-color: #FE4673;
    z-index: 4;
  }

  .fix_nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 5;
    padding: 28px 32px;
    background-color: #fe467496;
  }

  .navline {
    width: 30px;
    height: 25px;
    background: transparent;
    display: flex;
    position: relative;
    z-index: 4;
    justify-content: space-between;
    flex-direction: column;
  }

  .navline span {
    transition: all .3s linear;
    width: 100%;
    border-radius: 4px;
    height: 5px;
    background: #fff;
  }

  .left_0 {
    left: 0;
  }

  .left_100 {
    left: -100%;
  }

  .cross .crl-1 {
    transform: rotate(50deg) translate(14px, 13px);
  }

  .cross .crl-2 {
    transform: translateX(-50%);
    opacity: 0;
  }

  .cross .crl-3 {
    transform: rotate(-50deg) translateY(-50%);
  }

  .timeline::after {
    left: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(0deg, #FFC100 0%, #45C6CE 34.04%, #5B95E0 67.55%, #F2205C 100%);
    right: unset;
    height: 100%;
    width: 12px;
  }

  .timeline-bell1 {
    transform: rotate(-90deg);
    top: -14px;
    left: -65px;
  }

  .timeline-bell2 {
    transform: rotate(-90deg);
    top: -14px;
    left: -65px;
  }

  .timeline-bell3 {
    transform: rotate(-90deg);
    top: -13px;
    left: -65px;
  }

  .container1 {
    width: 100%;
    padding-left: 100px;
    padding-top: 50px;
  }
}

@media (min-width:992px) {
  .work-text {
    bottom: -19px;
    right: -3px;
  }

  .work-text1 {
    bottom: -6px;
    right: -4px;
  }

  .work-text2 {
    bottom: 18%;
    right: 5%;
  }

  .btn-view {
    margin-bottom: 137px;
  }

  .chartpad {
    padding-top: 180px;
    padding-bottom: 134px;
  }

  .Greenellipse {
    bottom: -16%;
  }

  .bg-blue {
    background-image: url("./assets/images/bg-blue.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 100%;
    object-fit: cover;
    margin-bottom: -2px;
    background-color: unset;
  }

  .test-padd {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .work-padd {
    padding-top: 150px;
    padding-bottom: 40px;
  }

  .test-rowpadd {
    padding-top: 75px;
  }

  .price-padd {
    padding-top: 118px;
    padding-bottom: 182px;
  }

  .esthercard {
    top: 30%;
    right: -12%;
  }

  .bg-header {
    background-size: 100% 100%;
  }

  .mw-172 {
    max-width: 172px;
  }

  .mw-200 {
    max-width: 200px;
  }

  .veiw-btn-padd {
    padding-top: 61px;
  }

  .about-padd {
    padding-top: 76px;
    padding-bottom: 191px;
  }

  .download_padd {
    padding-top: 252.61px;
    padding-bottom: 169.99px;
  }

  .greencard {
    bottom: 27%;
    left: -14%;
  }

  .mw-530 {
    max-width: 530px;
  }

  .mw-229 {
    max-width: 229px;
  }

  .mw-499 {
    max-width: 499px;
  }

  .mw-491 {
    max-width: 471px;
  }

  .bg_whcard {
    height: 296px;
  }

  .mw-585 {
    max-width: 585px;
  }

  .bg-about {
    background-image: url('./assets/images/bg-about.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: cover;
    background-color: unset;
    /* min-height: 100vh; */
  }

  .mw-393 {
    max-width: 393px;
  }

  .mw-775 {
    max-width: 775px;
  }

  .faq-padd {
    padding-top: 100px;
    padding-bottom: 350px;
  }
}

:root {
  --fs-sm: 8px;
  --fs-2sm: 10px;
  --fs-3sm: 12px;
  --fs-4sm: 13px;
  --fs-md: 16px;
  --fs-2md: 18px;
  --fs-3md: 20px;
  --fs-4md: 24px;
  --fs-lg: 30px;
  --fs-2lg: 32px;
  --fs-xl: 48px;
  --fs-2xl: 80px;
  --fs-3xl: 76px;
}

@media (max-width:576px) {
  :root {
    --fs-md: 14px;
    --fs-3md: 16px;
    --fs-xl: 42px;
    --fs-2xl: 50px;
  }
}